.boxStyle {
    background-color: black;
    opacity: 0.75;
    position: fixed;
    top: 40%;
    left: 50%;
    padding: 10px;
    border-radius: 10px;
}

.textFont {
    color: white;
}

.loginbox {
    margin: auto;
    background-color: lightgreen;
    color: forestgreen;
    border: 5px solid forestgreen;
    border-radius: 15px;
}

.homeimg {
    width: 100%;
    height: 300px;
}

.homecard {
    display: inline-block;
    height: 600px;
    width: 400px;
}

.homebutton {
    color: white;
    background: forestgreen;
}